body{
    background-color:#f4f4f4;
    padding-left: 0px;
    font-size: 15px;
    margin-bottom: -5;
}

h1{
    text-align: center;
    background-color: orange;
    color: white; 
    padding: 50px;
    font-family: lobster;
}

h2{
    text-align: center;
    background-color: orange;
    color: white; 
    padding: 20px;
    font-family: lobster;

}

.nav ul{
    background-color: #ffcc5f;
    text-align: center;
    padding: 10px;
    color: #ff6f69;
    width: auto;
    height: 50px;
}

.nav li{
    font-size:18px;
    display: inline;
    float:left;
    margin-right: 20px;
}

.nav a{
  text-decoration: none;
  color: #444;
  display: inline;
  transition: .4s background-color;
}

.nav a:hover {
  background-color: #96ceb4;
}
 
.nav a.active {
  background-color: #fff;
  color: #444;
  cursor: default;
}

.box {
    background: #fff;
    font-size: 18px;
    border: 5px #96ceb4 solid;
}

.box h2{
    font-size: 30px;
}

