{% extends "book/base.html" %}    
{% block content %}
        <h2>About</h2>
        <p>The Online Cooking Book is a website for you to store, collect and share your beloved cooking recipes. When you need inspiration to cook something- use this simple and easy to navigate website to check out recipes you have made but also recipes others have created. Simply create an account, tell us who you are in your profile and start creating recipes. 

        The Online Cooking Book is just in its beginning phase. It is constantly developing to make it better for you to use. So stay tuned1 

        For questions or comments please contact me at vyoma.patel07@gmail.com. 
{% endblock content %}
