{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    {% if title %}
        <title>Django Blog - {{ title }}</title>
    {% else %}
        <title>Django Blog</title>
    {% endif %}
</head>
<body>
	<header>
		<h1>Hello Web App</h1>
		<nav>
			<ul>
				<li><a href="{% url 'home' %}">Home</a></li>
				<li><a href="{% url 'about' %}">About</a></li>
				{% if user.is_authenticated %}
				<li>
					<a href="{% url 'auth_logout' %}">Logout</a>
				</li>
				{% else %}
				<li>
					<a href="{% url 'auth_login' %}">Login</a>
				</li>
				<li>
					<a href="{% url 'registration_register' %}">Register</a>
				</li>
				{% endif %}		
			</ul>
		</nav>
	</header>
    {% block content %}{% endblock content %}
	{% block footer %}{% endblock footer %}
</body>
</html>

