{% load static %}
<!DOCTYPE html>
<html>
<head>
    {% if title %}
        <title>Online Cooking Book - {{ title }}</title>
    {% else %}
        <title>Online Cooking Book</title>
    {% endif %}		
	<link rel="stylesheet" href="{% static 'css/site.css' %}">
</head>
<body>
	<header>
		<h1 class="page-header">The Online Cooking Book
		</h1>

		<nav class="nav">
			<ul>
				<li><a href="{% url 'home' %}">Home</a></li>
				<li><a href="{% url 'about' %}">About</a></li>
				{% if user.is_authenticated %}
				<li>
					<a href="{% url 'auth_logout' %}">Logout</a>
				</li>
				<li>
					<a href="{% url 'registration_create_profile' %}">CreateProfile</a>
				</li>
				<li> Currently logged in as {{user.username}} </li>
				{% else %}
				<li>
					<a href="{% url 'auth_login' %}">Login</a>
				</li>
				<li>
					<a href="{% url 'registration_register' %}">Register</a>
				</li>
				{% endif %}		
			</ul>
		</nav>
	</header>
			<p>
			    {% block content %}{% endblock content %}
			    	<link rel="stylesheet" href="{% static 'css/site.css' %}">
				{% block footer %}{% endblock footer %}
			</p>
</body>
</html>

