{% extends 'book/base.html' %}
{% load static %}
{% block content %}
<html>
<body>
    {% for profile in profiles %}
        	<p> By <a href="{% url 'profile' id=profile.id %}"> {{ profile.user }} </a> on {{ profile.created_date }} </p>
        	<p> About me {{ profile.bio }} </p>
        	<p> Based in {{ profile.location }} </p>
        	<p> <img src="{{ profile.image.url }}", style= "width:100px;"/> </p>
        	<p>{{ post.text|linebreaksbr }}</p>
    {% endfor %} 
{% endblock content %}
</body>
</html>
