{% extends 'book/base.html' %}
{% load static %}
{% block content %}
<html>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
	<link rel="stylesheet" href="{% static 'css/site.css' %}">
<body>
	<br>
    {% for profile in profiles %}
    	<div class= "box">
        	<h2> Recipes by <a href="{% url 'profile' id=profile.id %}"> {{ profile.user }} </a> </h2>
        	<p> About me: {{ profile.bio }} </p>
        	<p> <img src="{{ profile.image.url }}", style= "width:100px;"/> </p>
        	<a href="{% url 'edit_profile' id=profile.id %}"> Edit me! </a>
        	<p>{{ post.text|linebreaksbr }}</p>
        </div>
        	<br>
    {% endfor %} 
{% endblock content %}
</body>
</html>
