{% extends "book/base.html" %}    
{% block content %}
<html>
<body>
	<div class= "box">
        <h2> Recipes by {{ profile.user }} </h2>
        <p> About me: {{ profile.bio }} </p>
        <a href="{% url 'edit_profile' id=profile.id %}"> Edit me! </a>
        <p> <img src="{{ profile.image.url }}", style= "width:100px;"/> </p>
    </div>
{% for book in books %}
    <div class= "book">
    	<p> Recipe title: {{ book.title }} </p>
    	<p> Recipe description: {{ book.text }} </p>
    </div>
{% endfor %}
	<div class= "books">
		<a href="{% url 'create_book' %}"> Create post! </a>
	</div>

{% endblock content %}
</body>
</html>